/** Color schemes **/

:root {
  --tab-surface-regular: none !important;
  --tab-surface: var(--tab-surface-regular) !important;
  --tab-text: #f9f9fa !important;
  --tab-border: transparent !important;
}

/** Show title of unread tabs with italic font **/

.tab.unread:not(.pinned):not(.discarded) .label-content {
  font-style: italic !important;
}

/** Add private browsing indicator per tab **/

.tab.private-browsing .label::before {
  content: "🕶";
}

/** Show internal tab id in the debug mode **/

:root.debug .tab:not(.faviconized)::after {
  content: attr(data-tab-id);
  opacity: 0.5;
}

/** Regular width scrollbar **/

#tabbar {
  scrollbar-width: auto;
}

/** Put scrollbar rightside **/

:root.left #tabbar {
  direction: ltr;
}

/** Tab numbering and counting **/

#tabbar {
  counter-reset: vtabs atabs tabs;

  /* vtabs tracks visible tabs, atabs tracks active tabs, tabs tracks all tabs */
}

tab-item:not(.collapsed):not(.discarded) {
  counter-increment: vtabs atabs tabs;
}

tab-item:not(.collapsed) {
  counter-increment: vtabs tabs;
}

tab-item:not(.discarded) {
  counter-increment: atabs tabs;
}

tab-item {
  counter-increment: tabs;
}

/** Tab counts in new tab button **/

.newtab-button::after {
  content: var(--tab-count-text);
  pointer-events: none;
  position: absolute;
  left: 1.5em;

  /* TST 2.4.0 - Fix for Issue #1664 */
  background: transparent !important;
  mask: none !important;
}

/** Total tab count **/

.newtab-button {
  --tab-count-text: counter(atabs) "/" counter(tabs) " tabs";
}

/** Change close button style **/

tab-closebox::after {
  content: "⨉";
  background: none;
  line-height: 1;
  mask: none;
  text-align: center;
  width: 1.25em;
}

tab-item tab-closebox::before {
  margin-left: -0.025em;
}

/** Better collapsed tabs counter **/

.counter::before,
.counter::after {
  content: '';
}

.counter {
  display: inline-block;
  background: #2a2a2a;
  padding: 1px 5px 2px 5px;
  border-radius: 2px;
  margin-left: 4px;
}

/** Others **/

.newtab-button {
  padding: 0.494em 0.25em !important;
  line-height: 1;
  cursor: pointer;
}

.newtab-action-selector-anchor,
.contextual-identities-selector-anchor {
  padding-top: 0.7em !important;
  cursor: pointer;
}

.newtab-action-selector-anchor::before {
  left: 0.2em;
  position: relative;
}

.twisty[title],
tab-closebox,
#newtab-action-selector li,
#contextual-identities-selector li {
  cursor: pointer;
}

#tabbar {
  padding: 0 4px;
}

#all-tabs {
  padding-top: 4px;
}

tab-item.pinned {
  margin: 0 4px;
}

tab-item.pinned {
  margin-top: 4px;
}

tab-item,
.after-tabs button {
  border-radius: 3px;
}

tab-item:hover,
.after-tabs button:hover {
  background: #2a2a2a;
}

tab-item.active {
  background: #333d4d;
}

tab-item.active:hover {
  background: #434c5b;
}

tab-item .highlighter {
  display: none;
}

:root.left tab-item:not(.pinned):not(collapsed),
.after-tabs button {
  box-shadow: none;
}
