:root {
  --urlbar-separator-color: #868686 !important;
  --custom-browser-background: #303030;

  /** Hide Tabs Till Hover **/
  --htth-animation-duration: 0.1s;
  --htth-margin-closed: -30px;
}

/** Loading background **/

.browserSidebarContainer {
  background-color: var(--custom-browser-background);
}

/** et cetera **/

#sidebar-header {
  display: none;
}

.tabbrowser-tab[pending] {
  opacity: 0.75;
}

/** Context Menus **/

menupopup {
  padding: 6px 0;
}

menu,
menuitem,
menucaption {
  -moz-appearance: none;
  margin: 0;
  min-height: 24px;
  padding: 4px 12px;
  background-color: transparent;
  color: -moz-dialogtext;
}

menu:not(:-moz-any([disabled], :active)):-moz-any(:hover, :focus),
menuitem:not(:-moz-any([disabled], :active)):-moz-any(:hover, :focus),
menucaption:not(:-moz-any([disabled], :active)):-moz-any(:hover, :focus) {
  color: inherit;
  background-color: var(--arrowpanel-dimmed);
}

menuseparator {
  -moz-appearance: none;
  min-height: 0;
  border-top: 1px solid var(--panel-separator-color);
  border-bottom: none;
  margin: 6px 0;
  padding: 0;
}

/** Tabs on bottom **/

#main-window:not([privatebrowsingmode]) #navigator-toolbox toolbar:not(#nav-bar):not(#toolbar-menubar) {
  -moz-box-ordinal-group: 10;
  margin-top: -1px;
}

#main-window:not([privatebrowsingmode]) #navigator-toolbox #titlebar {
  -moz-box-ordinal-group: 1000 !important;
}

/** Hides Tabs Till Hover **/

#main-window:not([privatebrowsingmode]) #navigator-toolbox {
  z-index: 1;
  transition: margin-bottom var(--htth-animation-duration);
}

/* stylelint-disable-next-line no-duplicate-selectors */
#main-window:not([privatebrowsingmode]) #navigator-toolbox #titlebar {
  position: relative;
  z-index: -1;
  box-shadow: 0 0 4px #0003;
  margin-top: var(--htth-margin-closed);
  transition: margin-top var(--htth-animation-duration);
}

#main-window:not([privatebrowsingmode]) #navigator-toolbox:hover {
  margin-bottom: var(--htth-margin-closed);
}

#main-window:not([privatebrowsingmode]) #navigator-toolbox:hover #titlebar {
  margin-top: var(--htth-margin-opened);
}

/** Disable Bookmarks Toolbar **/

#navigator-toolbox > #PersonalToolbar {
  visibility: collapse !important;
}

/** Colored folders for bookmark sidebar, toolbar, menu button, classic menu
 Updated for Firefox 60 on May 10, 2018 **/

/* Standard folder - slightly muted gold */

#bookmarks-view treechildren::-moz-tree-image(container),
#PlacesToolbarItems toolbarbutton[container="true"] .toolbarbutton-icon,
#PlacesToolbarItems menu[container="true"] > .menu-iconic-left > .menu-iconic-icon,
#PlacesChevronPopup menu[container="true"] > .menu-iconic-left > .menu-iconic-icon,
#BMB_bookmarksPopup menu[container="true"] > .menu-iconic-left > .menu-iconic-icon,
#bookmarksMenu menu[container="true"] > .menu-iconic-left > .menu-iconic-icon {
  fill: #e8bb00 !important;
}

/* Live Bookmark (RSS Feed) */

#bookmarks-view treechildren::-moz-tree-image(container, livemark),
#PlacesToolbarItems toolbarbutton[container="true"][livemark="true"] .toolbarbutton-icon,
#PlacesToolbarItems menu[container="true"][livemark="true"] > .menu-iconic-left > .menu-iconic-icon,
#PlacesChevronPopup menu[container="true"][livemark="true"] > .menu-iconic-left > .menu-iconic-icon,
#BMB_bookmarksPopup menu[container="true"][livemark="true"] > .menu-iconic-left > .menu-iconic-icon,
#bookmarksMenu menu[container="true"][livemark="true"] > .menu-iconic-left > .menu-iconic-icon {
  fill: orange !important;
}

/* Smart bookmark folder */

#bookmarks-view treechildren::-moz-tree-image(container, query),
#PlacesToolbarItems toolbarbutton[container="true"][query="true"] .toolbarbutton-icon,
#PlacesToolbarItems menu[container="true"][query="true"] > .menu-iconic-left > .menu-iconic-icon,
#PlacesChevronPopup menu[container="true"][query="true"] > .menu-iconic-left > .menu-iconic-icon,
#BMB_bookmarksPopup menu[container="true"][query="true"] > .menu-iconic-left > .menu-iconic-icon,
#bookmarksMenu menu[container="true"][query="true"] > .menu-iconic-left > .menu-iconic-icon {
  fill: #69c !important;

  /* similar to blue smart folder color */
}

/* These "containers" are SVG in the sidebar, not yet on the menu */

#bookmarks-view treechildren::-moz-tree-image(container, organizerquery_bookmarksmenu),
#bookmarks-view treechildren::-moz-tree-image(container, queryfolder_menu________) {
  fill: olive !important;
}

#bookmarks-view treechildren::-moz-tree-image(container, organizerquery_bookmarkstoolbar),
#bookmarks-view treechildren::-moz-tree-image(container, queryfolder_toolbar_____) {
  fill: olive !important;
}

#bookmarks-view treechildren::-moz-tree-image(container, organizerquery_unfiledbookmarks),
#bookmarks-view treechildren::-moz-tree-image(container, queryfolder_unfiled_____) {
  fill: olive !important;
}

/* Avoid overriding classic Bookmarks Toolbar and Other Bookmarks icons in menus */

#BMB_bookmarksPopup #BMB_bookmarksToolbar.menu-iconic-icon,
#bookmarksMenu #bookmarksToolbarFolderMenu.menu-iconic-icon {
  list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png") !important;
}

#BMB_bookmarksPopup #BMB_unsortedBookmarks.menu-iconic-icon,
#bookmarksMenu #menu_unsortedBookmarks.menu-iconic-icon {
  list-style-image: url("chrome://browser/skin/places/unsortedBookmarks.png") !important;
}

/** Findbar at the top of the window **/

.browserContainer > findbar {
  -moz-box-ordinal-group: 0;
}

/*
 * Makes the address bar and search bar borderless.
 * Use the default white theme for an Edge-like look or in VivaldiFox with page colors applied
 * on toolbar fields for a seamless one-color look.
 *
 * Contributor(s): Madis0
 */

#urlbar,
.searchbar-textbox {
  border: none !important;
  box-shadow: none !important;
}

/*
 * Only show close buttons on background tabs when hovering with the mouse
 *
 * Contributor(s): Timvde
 */

.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}

/** Remove URL bar's background **/

#urlbar {
  background: none !important;
}

/** Add border radius to urlbar icons **/

#identity-box {
  border-radius: 0 var(--toolbarbutton-border-radius) var(--toolbarbutton-border-radius) 0;
}

.urlbar-history-dropmarker,
.urlbar-page-action {
  border-radius: var(--toolbarbutton-border-radius) !important;
}

/** Increase opacity of syncing icon **/

.toolbaritem-combined-buttons:-moz-any(:not([cui-areatype="toolbar"]),
[overflowedItem="true"]) > toolbarbutton:not(.toolbarbutton-1)[disabled] {
  opacity: 1 !important;
}

/** Context menus of Tree Style Tab **/

#contentAreaContextMenu,
#contentAreaContextMenu li:not(.separator).has-submenu ul {
  -moz-appearance: menupopup;
  box-shadow: none !important;
  min-width: 1px;
  color: MenuText !important;
  padding: 6px 0 !important;
  background-color: #383c4a;
}

#contentAreaContextMenu li:not(.separator) {
  -moz-appearance: none;
  min-height: 24px;
  padding: 4px 36px !important;
  background-color: transparent;
  color: -moz-dialogtext;
  max-width: 42em;
  font: menu;
}

#contentAreaContextMenu li:not(.separator):focus,
#contentAreaContextMenu li:not(.separator).open {
  background-color: #cccccc4d !important;
}

#contentAreaContextMenu li.separator {
  -moz-appearance: none;
  min-height: 0;
  border-top: 1px solid #2b2e39 !important;
  border-bottom: none !important;
  margin: 6px 0 !important;
  padding: 0 !important;
}

#contentAreaContextMenu li[data-icon]:not([data-icon-color]) {
  background-position-x: calc(1em - 16px + 1em) !important;
}

#contentAreaContextMenu #treestyletab_piro_sakura_ne_jp-menuitem-_context_closeOtherTabs {
  display: none;
}
